**Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.**

In [3]:
import pandas as pd
import mysql.connector as connection
try:
    my_db = connection.connect(host='localhost', user='root', passwd='root', database='mayur', use_pure=True)
    cursor = my_db.cursor()
    query = 'SELECT RTRIM(name) FROM mayur.worker;'
    result = pd.read_sql(query, my_db)
    print(result)
    my_db.close()
    
except Exception as e:
    print(str(e))

  RTRIM(name)
0      ANURAG
1       HARSH
2       SUMIT
3        RUHI
4         KAE
5       MAYUR
6     VAIBHAO
7    SHRADDHA
8    NIVIDITA
9        GOPI

<img src = 'Images/Screenshot (25).png'>

**Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.**

In [2]:
import pandas as pd
import mysql.connector as connection
try:
    my_db = connection.connect(host='localhost', user='root', passwd='root', database='mayur', use_pure=True)
    cursor = my_db.cursor()
    query = 'SELECT DISTINCT length(DEPT_ID) FROM mayur.worker;'
    result = pd.read_sql(query, my_db)
    print(result)
    my_db.close()
except Exception as e:
    print(str(e))

   length(DEPT_ID)
0               13
1               18
2               21

<img src = 'Images/Screenshot (27).png'>

**Q-3. Write an SQL query to fetch nth max salaries from a table.**

In [1]:
import pandas as pd
import mysql.connector as connection
try:
    my_db = connection.connect(host='localhost', user='root', passwd='root', database='mayur', use_pure=True)
    cursor = my_db.cursor()
    query = 'SELECT Salary FROM mayur.worker ORDER BY Salary DESC LIMIT 4,1;'
    result = pd.read_sql(query, my_db)
    print(result)
    my_db.close()
    
except Exception as e:
    print(str(e))

   Salary
0   35000

<img src = 'Images/Screenshot (38).png'>