**Q-13. Write an SQL query to show only odd rows from a table.**

In [1]:
import pandas as pd
import mysql.connector as connection
try:
    my_db = connection.connect(host='localhost', user='root', passwd='root', database='mayur', use_pure=True)
    cursor = my_db.cursor()
    query = 'SELECT * FROM mayur.Worker2 WHERE MOD (WORKER_ID, 2) <> 0;'
    result = pd.read_sql(query, my_db)
    print(result)
    my_db.close()
    
except Exception as e:
    print(str(e))

   WORKER_ID FIRST_NAME LAST_NAME  SALARY        JOINING_DATE DEPARTMENT
0          1     Monika     Arora  100000 2014-02-20 09:00:00         HR
1          3     Vishal   Singhal  300000 2014-02-20 09:00:00         HR
2          5      Vivek     Bhati  500000 2014-06-11 09:00:00      Admin
3          7     Satish     Kumar   75000 2014-01-20 09:00:00    Account

<img src = 'Images/Screenshot (35).png'>

**Q-14. Write an SQL query to clone a new table from another table.**

In [5]:
import pandas as pd
import mysql.connector as connection
try:
    my_db = connection.connect(host='localhost', user='root', passwd='root', database='mayur', use_pure=True)
    cursor = my_db.cursor()
    query = 'CREATE TABLE worker3 SELECT * FROM mayur.worker2;'
    cursor.execute(query)
    print('Table Is Created')
    my_db.close()
    
except Exception as e:
    print(str(e))

Table Is Created

<img src = 'Images/Screenshot (36).png'>