**Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.**

In [2]:
import pandas as pd
import mysql.connector as connection
try:
    my_db = connection.connect(host='localhost', user='root', passwd='root', database='mayur', use_pure=True)
    cursor = my_db.cursor()
    query = 'SELECT * FROM mayur.worker2 WHERE year(joining_date) = 2014 and month(joining_date) = 2;'
    result = pd.read_sql(query, my_db)
    print(result)
    my_db.close()
    
except Exception as e:
    print(str(e))

   WORKER_ID FIRST_NAME LAST_NAME  SALARY        JOINING_DATE DEPARTMENT
0          1     Monika     Arora  100000 2014-02-20 09:00:00         HR
1          3     Vishal   Singhal  300000 2014-02-20 09:00:00         HR
2          4    Amitabh     Singh  500000 2014-02-20 09:00:00      Admin

<img src = 'Images/Screenshot (33).png'>

**Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.**

In [3]:
import pandas as pd
import mysql.connector as connection
try:
    my_db = connection.connect(host='localhost', user='root', passwd='root', database='mayur', use_pure=True)
    cursor = my_db.cursor()
    query = 'SELECT WORKER_TITLE, AFFECTED_FROM, COUNT(*) FROM mayur.Title GROUP BY WORKER_TITLE, AFFECTED_FROM HAVING COUNT(*) > 1;'
    result = pd.read_sql(query, my_db)
    print(result)
    my_db.close()
    
except Exception as e:
    print(str(e))

  WORKER_TITLE AFFECTED_FROM  COUNT(*)
0    Executive    2016-06-11         3
1         Lead    2016-06-11         2

<img src = 'Images/Screenshot (34).png'>

**Q-3. How to remove duplicate rows from Employees table.**

<img src = 'Images/Screenshot (41).png'>