**Q-17.  Write an SQL query to show the top n (say 10) records of a table.**

In [1]:
import pandas as pd
import mysql.connector as connection
try:
    my_db = connection.connect(host='localhost', user='root', passwd='root', database='mayur', use_pure=True)
    cursor = my_db.cursor()
    query = 'SELECT * FROM mayur.worker ORDER BY Salary DESC LIMIT 10;'
    result = pd.read_sql(query, my_db)
    print(result)
    my_db.close()
    
except Exception as e:
    print(str(e))

   ID  SALARY      NAME                DEPT_ID
0   9   48000  NIVIDITA          UI DEVELOPERS
1   6   40000     MAYUR          UI DEVELOPERS
2   5   37000       KAE          UI DEVELOPERS
3   3   36000     SUMIT     BACKEND DEVELOPERS
4   8   35000  SHRADDHA  FULL STACK DEVELOPERS
5   1   34000    ANURAG          UI DEVELOPERS
6   2   33000     HARSH     BACKEND DEVELOPERS
7  10   31000      GOPI          UI DEVELOPERS
8   4   26000      RUHI          UI DEVELOPERS
9   7   22000   VAIBHAO  FULL STACK DEVELOPERS

<img src = 'Images/Screenshot (37).png'>

**Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.**

In [2]:
import pandas as pd
import mysql.connector as connection
try:
    my_db = connection.connect(host='localhost', user='root', passwd='root', database='mayur', use_pure=True)
    cursor = my_db.cursor()
    query = 'SELECT Salary FROM mayur.worker ORDER BY Salary DESC LIMIT 4,1;'
    result = pd.read_sql(query, my_db)
    print(result)
    my_db.close()
    
except Exception as e:
    print(str(e))

   Salary
0   35000

<img src = 'Images/Screenshot (38).png'>