**Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as WORKER_NAME.**

In [3]:
import pandas as pd
import mysql.connector as connection
try:
    my_db = connection.connect(host='localhost', user='root', passwd='root', database='mayur', use_pure=True)
    cursor = my_db.cursor()
    query = 'SELECT NAME FROM mayur.Worker;'
    result = pd.read_sql(query, my_db)
    print(result)
    
except Exception as e:
    print(str(e))

       NAME
0    ANURAG
1     HARSH
2     SUMIT
3      RUHI
4       KAE
5     MAYUR
6   VAIBHAO
7  SHRADDHA
8  NIVIDITA
9      GOPI

<img src = 'Images/Screenshot (18).png'>

**Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.**

In [5]:
import pandas as pd
import mysql.connector as connection
try:
    my_db = connection.connect(host='localhost', user='root', passwd='root', database='mayur', use_pure=True)
    cursor = my_db.cursor()
    query = 'SELECT DISTINCT DEPT_ID  FROM mayur.Worker;'
    result = pd.read_sql(query, my_db)
    print(result)
    
except Exception as e:
    print(str(e))

                 DEPT_ID
0          UI DEVELOPERS
1     BACKEND DEVELOPERS
2  FULL STACK DEVELOPERS

<img src = 'Images/Screenshot (19).png'>

**Q-3. Write an SQL query to show the last 5 record from a table.**

In [6]:
import pandas as pd
import mysql.connector as connection
try:
    my_db = connection.connect(host='localhost', user='root', passwd='root', database='mayur', use_pure=True)
    cursor = my_db.cursor()
    query = '(SELECT * FROM mayur.Worker ORDER BY ID DESC LIMIT 5) order by ID ASC;'
    result = pd.read_sql(query, my_db)
    print(result)
    
except Exception as e:
    print(str(e))

   ID  SALARY      NAME                DEPT_ID
0   6   40000     MAYUR          UI DEVELOPERS
1   7   22000   VAIBHAO  FULL STACK DEVELOPERS
2   8   35000  SHRADDHA  FULL STACK DEVELOPERS
3   9   48000  NIVIDITA          UI DEVELOPERS
4  10   31000      GOPI          UI DEVELOPERS

<img src = 'Images/Screenshot (20).png'>