**Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.**

<img src = 'Images/Screenshot (28).png'>

**Q-2. Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.**

In [9]:
import pandas as pd
import mysql.connector as connection
try:
    my_db = connection.connect(host='localhost', user='root', passwd='root', database='mayur', use_pure=True)
    cursor = my_db.cursor()
    query = 'SELECT * FROM mayur.worker ORDER BY name ASC, dept_id DESC;'
    result = pd.read_sql(query, my_db)
    print(result)
    my_db.close()
    
except Exception as e:
    print(str(e))

   ID  SALARY      NAME                DEPT_ID
0   1   34000    ANURAG          UI DEVELOPERS
1  10   31000      GOPI          UI DEVELOPERS
2   2   33000     HARSH     BACKEND DEVELOPERS
3   5   37000       KAE          UI DEVELOPERS
4   6   40000     MAYUR          UI DEVELOPERS
5   9   48000  NIVIDITA          UI DEVELOPERS
6   4   26000      RUHI          UI DEVELOPERS
7   8   35000  SHRADDHA  FULL STACK DEVELOPERS
8   3   36000     SUMIT     BACKEND DEVELOPERS
9   7   22000   VAIBHAO  FULL STACK DEVELOPERS

<img src = 'Images/Screenshot (29).png'>

**Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.**

In [11]:
import pandas as pd
import mysql.connector as connection
try:
    my_db = connection.connect(host='localhost', user='root', passwd='root', database='mayur', use_pure=True)
    cursor = my_db.cursor()
    query = 'select *from mayur.worker where salary=(select Max(salary) from mayur.worker);'
    result = pd.read_sql(query, my_db)
    print(result)
    my_db.close()
    
except Exception as e:
    print(str(e))

   ID  SALARY      NAME        DEPT_ID
0   9   48000  NIVIDITA  UI DEVELOPERS

<img src = 'Images/Screenshot (30).png'>