**Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.**

In [1]:
import pandas as pd
import mysql.connector as connection
try:
    my_db = connection.connect(host='localhost', user='root', passwd='root', database='mayur', use_pure=True)
    cursor = my_db.cursor()
    query = 'SELECT SUBSTRING(NAME,1,3) FROM mayur.Worker;'
    result = pd.read_sql(query, my_db)
    print(result)
    
except Exception as e:
    print(str(e))

  SUBSTRING(NAME,1,3)
0                 ANU
1                 HAR
2                 SUM
3                 RUH
4                 KAE
5                 MAY
6                 VAI
7                 SHR
8                 NIV
9                 GOP

<img src = 'Images/Screenshot (21).png'>

**Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.**

In [7]:
import pandas as pd
import mysql.connector as connection
try:
    my_db = connection.connect(host='localhost', user='root', passwd='root', database='mayur', use_pure=True)
    cursor = my_db.cursor()
    query = 'Select INSTR(NAME,BINARY A) from mayur.Worker where NAME = ANURAG;'
    result = pd.read_sql(query, my_db)
    print(result)
    my_db.close()
except Exception as e:
    print(str(e))

Execution failed on sql 'Select INSTR(NAME,BINARY A) from mayur.Worker where NAME = ANURAG;': 1054 (42S22): Unknown column 'A' in 'field list'

<img src = 'Images/Screenshot (23).png'>

**Q-3. Write an SQL query to print the name of employees having the highest salary in each department.**

In [8]:
import pandas as pd
import mysql.connector as connection
try:
    my_db = connection.connect(host='localhost', user='root', passwd='root', database='mayur', use_pure=True)
    cursor = my_db.cursor()
    query = 'SELECT DEPT_ID, MAX(SALARY) FROM mayur.worker GROUP BY DEPT_ID;'
    result = pd.read_sql(query, my_db)
    print(result)
    my_db.close()
except Exception as e:
    print(str(e))

                 DEPT_ID  MAX(SALARY)
0          UI DEVELOPERS        48000
1     BACKEND DEVELOPERS        36000
2  FULL STACK DEVELOPERS        35000

<img src = 'Images/Screenshot (24).png'>