**1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.**

**Solution:-**

In [1]:
import pathlib
pathlib.Path('test.txt').write_text('test1 = {}'.format('This is a test of the emergency text system,'))

52

**2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?**

**Solution:-** No their is no diiference between the test1 and test2

In [2]:
test2 = open('test.txt','r')

In [3]:
test2.read()

'test1 = This is a test of the emergency text system,'

**3. Create a CSV file called books.csv by using these lines:**

    title-----------------------> autho ---------------->year

The Weirdstone of Brisingamen---> Alan Garner  --------->1960

Perdido Street Station ---------> China Miéville  ------>2000

Thud! --------------------------> Terry Pratchett  -----> 2005

The Spellman Files -------------> Lisa Lutz ------------> 2007

Small Gods ---------------------> Terry Pratchett ------> 1992

In [4]:
import csv

fields = ['Title', 'Author', 'Year']

rows = [['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
        ['Perdido Street Station', 'China Miéville', '2000'],
        ['Thud!', 'Terry Pratchett', '2005'],
        ['The Spellman Files', 'Lisa Lutz', '2007'],
        ['Small Gods', 'Terry Pratchett', '1992']]

filename = 'books.csv'

with open(filename,'w',encoding='UTF-8') as csvfile:
    
    csvwriter = csv.writer(csvfile)
    
    csvwriter.writerow(fields)
    
    csvwriter.writerows(rows)

In [5]:
csvwriter

**4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).**

**Solution:-**

In [6]:
import sqlite3

conn = sqlite3.connect('books.db')

curs = conn.cursor()

curs.execute('''CREATE TABLE books(title text,
                                   author text,
                                   year INT)
            ''')

In [7]:
curs.execute('''INSERT INTO books VALUES ("The Weirdstone of Brisingamen","Alan Garner",1960)''')

In [8]:
curs.execute('''INSERT INTO books VALUES ("Perdido Street Station","China Miéville",2000)''')

In [9]:
curs.execute('''INSERT INTO books VALUES ("Thud!","Terry Pratchett ",2005)''')

In [10]:
curs.execute('''INSERT INTO books VALUES ("The Spellman Files","Lisa Lutz",2007)''')

In [11]:
curs.execute('''INSERT INTO books VALUES ("Small Gods","Terry Pratchett",1992)''')

In [12]:
curs.execute('SELECT * FROM books')

In [13]:
rows = curs.fetchall()
rows

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett ', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods', 'Terry Pratchett', 1992)]

In [14]:
curs.close()
conn.close()

**5. Read books.csv and insert its data into the book table.**

**Solution:-**

In [18]:
import csv, sqlite3

con = sqlite3.connect("books2.db")

cur = con.cursor()

cur.execute('''CREATE TABLE books2(title text,
                                   author text,
                                   year INT)''')

reader = csv.reader(open("books.csv",'r'))
   
for row in reader:
    to_db = [(row[0], "utf8"), (row[1], "utf8"), (row[2], "utf8")] 
    
cur.executemany("INSERT INTO t (text, author, year) VALUES (?, ?, ?);", to_db)

cur.commit()

IndexError: list index out of range

**6. Select and print the title column from the book table in alphabetical order.**

**Solution:-**