**1. What exactly is [ ]?**

**Solution:-** It is basically list which contain no item so you can it as empty list.

**2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)**

**Solution:-** See here it is talking about the 3rd value so it is 6, but if he is asking for 3rd index then it is 8.

In [ ]:
spam=[2, 4, 6, 8, 10] 
spam[2]='Hello'
spam

[2, 4, 'Hello', 8, 10]

**Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.**

**3. What is the value of spam[int(int('3' * 2) / 11)]?**

**Solution:-**

In [ ]:
spam=['a', 'b', 'c', 'd']

spam[int(int('3' * 2) / 11)]

'd'

**4. What is the value of spam[-1]?**

**Solution:-**

In [ ]:
spam=['a', 'b', 'c', 'd'] # Here Index no are (-1=d, -2=c, -3=b, -4=a) 

spam[-1]

'd'

**5. What is the value of spam[:2]?**

**Solution:-**

In [ ]:
spam=['a', 'b', 'c', 'd'] # Here Index no are (0=a, 1=b, 2=c, 3=d) 

spam[:2] # Always rember [Starting Index : Ending Index(always excluded) : Step Size]

['a', 'b']

**Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.**

**6. What is the value of bacon.index('cat')?**

**Solution:-** Here in list we are given double string name cat but main promblem is that the seperated comma give inside **'cat,'** So it gives you SyntaxError

In [ ]:
bacon=[3.14, 'cat,' 11, 'cat,' True]
bacon.index('cat')

SyntaxError: ignored

**7. How does bacon.append(99) change the look of the list value in bacon?**

**Solution:-** No because of the above error it will no append that value in list. For append that value we have arrange list in proper format. If we are arrange list in proper format then list will change. 

bacon=[3.14, 'cat', 11, 'cat', True]

bacon.append(99)

bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [ ]:
bacon=[3.14, 'cat,' 11, 'cat,' True]

bacon.append(99)

SyntaxError: ignored

**8. How does bacon.remove('cat') change the look of the list meaning in bacon?**

**Solution:-**No because of the above error it will no remove that value in list. For remove that value we have arrange list in proper format. If we are arrange list in proper format then list will change.

bacon=[3.14, 'cat', 11, 'cat', True]

bacon.remove('cat')

bacon

[3.14, 11, 'cat', True]

In [ ]:
bacon=[3.14, 'cat,' 11, 'cat,' True]
bacon.remove('cat')

SyntaxError: ignored

**9. What are the list concatenation and list replication operators?**

**Solution:-**The operator for list concatenation(adding) is +, while the operator for replication(repeated) is *

**10. What is difference between the list methods append() and insert()?**

**Solution:-** While append() will add values only to the end of a list, insert() can add them anywhere in the list with help of index no.

**11. What are the two methods for removing items from a list?**

**Solution:-** The del statement and the remove() list method are two ways to remove items from a list.

**12. Describe how list values and string values are identical.**

**Solution:-** Both lists and strings can be passed to len(). In list and string we can gives indexing and slicing two both the method. It can be used in for loops, also we can concatenated or replicated list and string.

**13. What's the difference between tuples and lists?**

**Solution:-**Lists are mutable; they can have values added, removed, order,or changed.List Allows duplicate number. Talking about tuples, tuples are immutable; they cannot be changed at all.Tuples are also allows duplicate number and tuples are written using parentheses, (1,2,3), while lists use the square brackets, [1,2,3]

**14. How do you type a tuple value that only contains the integer 42?**

**Solution:-**(42,) (The trailing comma is mandatory.)

**15. How do you get a list value's tuple form? How do you get a tuple value's list form?**

**Solution:-**The tuple() and list() functions, respectively.

**16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?**

**Solution:-** They contain references to list values.

**17. How do you distinguish between copy.copy() and copy.deepcopy()?**

**Solution:-** 

**1.copy.copy()=** 

a.They copy.copy() function will do a shallow copy of a list. If you are changing one element in 1st list it will no change in 2nd list. For that refer the line no. 8 example. 

b.But if we taked about nested list, when we change some value in list it will affect on 2nd list also, see line no 12 example

c.If we do append opeartion on 1st list it will only affect the 1st list not on the 2nd list.

In [8]:
# Shallow Copy For List
lst1=[1,2,3,4]
lst2=lst1.copy()

In [9]:
lst1,lst2

([1, 2, 3, 4], [1, 2, 3, 4])

In [10]:
lst1[2]=100
lst1

[1, 2, 100, 4]

In [11]:
lst2

[1, 2, 3, 4]

In [12]:
# Shallo Copy For Nested List
lst1=[[4,5,6],[7,8,9]]
lst2=lst1.copy()

In [13]:
lst1,lst2

([[4, 5, 6], [7, 8, 9]], [[4, 5, 6], [7, 8, 9]])

In [14]:
lst1[1][0]=500
lst1

[[4, 5, 6], [500, 8, 9]]

In [15]:
lst2

[[4, 5, 6], [500, 8, 9]]

**2.Deep.copy():** 

a.while the copy.deepcopy() function will do a deep copy of a list. Only copy.deepcopy() will duplicate any lists inside the list.

b.If you are changing one element in 1st list it will not change the elememt in 2nd list. For that refer the line no. 21 example. 

b.But if we taked about nested list, when we change some value in 1st list it will not affect on 2nd list also, see line no 16 example

c.If we do append opeartion on 1st list it will only affect the 1st list not on the 2nd list.

In [21]:
# Deep Copy For List
import copy
lst1=[1,2,3,4,5,6]
lst2=copy.deepcopy(lst1)

In [22]:
lst1,lst2

([1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6])

In [23]:
lst1[4]=100
lst1

[1, 2, 3, 4, 100, 6]

In [24]:
lst2

[1, 2, 3, 4, 5, 6]

In [16]:
# Deep Copy for Nested List
import copy
lst1=[[1,2,3],[4,5,6],[7,8,9]]
lst2=copy.deepcopy(lst1)

In [17]:
lst1,lst2

([[1, 2, 3], [4, 5, 6], [7, 8, 9]], [[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [19]:
lst1[2][2]=25
lst1

[[1, 2, 3], [4, 5, 6], [7, 8, 25]]

In [20]:
lst2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]